.vscode/
.hypothesis/
__pycache__/
*.code-workspace
*.xpr
test/
tools/
text/
venv/
.env
work/
_archive/
yaml/latest
yaml/*/*_test
~$*.*
*.log
*.lst
*.sas7b*
get_*.html
get_*.xlsx
create_*.html
create_*.xlsx
validate_*.html
validate_*.xlsx
run_batch.*
desktop.ini
