alabaster==0.7.12
antlr4-python3-runtime==4.9.3
attrs==21.4.0
Babel==2.10.1
certifi==2021.10.8
CFGraph==0.2.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
decorator==5.1.1
Deprecated==1.2.13
docutils==0.17.1
et-xmlfile==1.1.0
graphviz==0.20
greenlet==1.1.2
hbreader==0.9.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
isodate==0.6.1
Jinja2==3.1.2
json-flattener==0.1.9
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonpatch==1.32
jsonpath-ng==1.5.3
jsonpointer==2.3
jsonschema==4.4.0
linkml==1.2.16
linkml-dataops==0.1.0
linkml-runtime==1.2.21
markdown-it-py==2.1.0
MarkupSafe==2.1.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
myst-parser==0.17.2
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
parse==1.19.0
ply==3.11
prefixcommons==0.1.11
pydantic==1.9.0
Pygments==2.12.0
PyJSG==0.11.10
pyparsing==3.0.8
pyrsistent==0.18.1
PyShEx==0.8.1
PyShExC==0.9.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rdflib==6.1.1
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ShExJSG==0.8.2
six==1.16.0
snowballstemmer==2.2.0
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==4.5.0
sphinx-click==4.0.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.36
typing_extensions==4.2.0
urllib3==1.26.9
watchdog==2.1.7
wrapt==1.14.1
zipp==3.8.0
